.Weather {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 20px 20px 20px;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
  color: rgb(135, 135, 135);
}

.searchform {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  line-height: 20px;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  color: dimgray;
}
